<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <!-- Botón para Perfil -->
      <ion-item (click)="goToPage('perfil')">
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-item>

      <!-- Botón para Vehiculo -->
      <ion-item (click)="goToPage('listar-vehiculo')">
        <ion-icon name="car" slot="start"></ion-icon>
        <ion-label>Vehiculos</ion-label>
      </ion-item>

      <!-- Botón para Viaje -->
      <ion-item (click)="goToPage('lista-viajes')">
        <ion-icon name="briefcase" slot="start"></ion-icon>
        <ion-label>Viaje</ion-label>
      </ion-item>

      <!-- Botón para Cerrar Sesión -->
      <ion-item (click)="logout()">
        <ion-icon name="log-out" slot="start"></ion-icon>
        <ion-label>Cerrar Sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Pagina inicio -->
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-card #card>
      <ion-card-header>
        <ion-card-title>¡Hola, {{usuario}}!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Bienvenido a nuestra aplicación. Estamos encantados de tenerte aquí.</p>
        <p>Explora nuestras características y disfruta de la experiencia.</p>
      </ion-card-content>
    </ion-card>
    <p>Te dejamos botones para que juegues con la carta de arriba :D</p>
    <ion-button (click)="play()">Play</ion-button>
    <ion-button (click)="pause()">Pause</ion-button>
    <ion-button (click)="stop()">Stop</ion-button>
  </ion-content>
</div>
