<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>listarVehiculo</ion-title>
    <ion-button slot="end">
      <ion-back-button defaultHref="/">Back</ion-back-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let i of vehiculos" >
    <div class="box">
      <ion-img [src]="i.imagen_vehiculo"></ion-img>
    </div>

      <div class="vertical">
        <ion-label>Patente: {{i.patente}}</ion-label>
        <ion-label>Color: {{i.color}}</ion-label>
        <ion-label>Marca: {{i.marca}}</ion-label> 
        <ion-label>Modelo: {{i.modelo}}</ion-label>
      </div>
      </ion-card>
    <ion-fab>
      <ion-fab-button>
        <ion-icon name="add" (click)="agregarVehiculo()"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
