<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> <!-- Botón para abrir el menú -->
    </ion-buttons>
    <ion-title>Perfil de Usuario</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button> <!-- Botón de regreso -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" id="main-content">
  <div class="profile-container">
    <!-- Imagen de perfil -->
    <ion-avatar class="profile-avatar">
      <img src="{{imagen}}" alt="Avatar de usuario">
    </ion-avatar>

    <!-- Información del usuario -->
    <div class="profile-info">
      <h1>{{usuario}}</h1>
      <p>Correo: {{correo}}</p>
      <p>Teléfono: +{{telefono}}</p>
    </div>

    <!-- Estrellas de calificación -->
    <div class="profile-rating">
      <h1>Mi clasificación</h1>
      <div class="rating-stars">
        <ion-icon name="star" color="warning"></ion-icon>
        <ion-icon name="star" color="warning"></ion-icon>
        <ion-icon name="star" color="warning"></ion-icon>
        <ion-icon name="star" color="warning"></ion-icon>
        <ion-icon name="star-outline" color="warning"></ion-icon>
      </div>
    </div>
    
  </div>
</ion-content>
